
.cover__page {
    background-image: url(../../../images/__background.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__page {
        margin: 0 calc((100% - 100vw)/2);
    }
}