
.cover__link {
    position: absolute;
    width: 100%;
    height: 100%;
    /*display: block;*/
    top: 0;
    left: 0;
    z-index: 3;
    text-decoration: none;
    color: #FFFFFF;
}

.cover__link:hover ~ .cover__overlay{
    opacity: 0.8;
    transition: 200ms;
}