
.photo-grid {
    padding-top: 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px,1fr));
    gap: 16px;
    justify-items: center;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        padding-top: 88px;
        gap: 16px;
    }
}

@media screen and (max-width: 560px){
    .photo-grid {
        padding-top: 64px;
        gap: 12px;
    }
}

