
.image-wrapper__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .image-wrapper__caption {
        padding-left: 24px;
    }
}