
.lead__title {
    margin: 0 auto 32px;
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 720px){
    .lead__title {
        font-size: calc(100vw/8);
    }
}

@media screen and (max-width: 550px){
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 16px;
    }
}