
.list-place__item {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1fr);
    grid-template-rows: 1fr max-content min-content;
    column-gap: 40px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph_position_top"
    "place__image place__paragraph_position_bottom";

}

@media screen and (max-width: 1024px) {
    .list-place__item {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .list-place__item {
        column-gap: 28px;
    }
}

@media screen and (max-width: 720px){
    .list-place__item {
        grid-template-areas:
            "place__title place__website"
            "place__image place__paragraph_position_top"
            "place__paragraph_position_bottom place__paragraph_position_bottom";
    }
}

@media screen and (max-width: 550px){
    .list-place__item {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-areas:
        "place__title"
        "place__image"
        "place__paragraph_position_top"
        "place__paragraph_position_bottom"
        "list-place__website";

        justify-items: center;
        justify-content: center;

    }
}

