
.cover {
    padding: 245px 0;
    background-image: url(../../images/__background.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 195px 0;
        margin: 0 -48px;
    }

}

@media screen and (max-width: 768px) {
    .cover {
        padding: 115px 0;
        margin: 0 -24px;
    }
}

@media screen and (max-width: 550px){
    .cover {
        margin: 0 -16px;
    }
}