
.cover {
    background-image: url(../../images/__background.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .cover {

    }
}

@media screen and (max-width: 768px) {
    .cover {

    }
}

@media screen and (max-width: 550px){
    .cover {

    }
}