
@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

/*@font-face {*/
/*    src: url();*/
/*}*/

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    padding-right: 48px;
    padding-left: 48px;
    font-family: Inter;
}

.logo {
    width: 176px;
    height: 52px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 28px;
}

.header__lang-links {
    color: #FFFFFF;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: red 1px solid;
}

.header__lang-link {
    border: red 1px solid;
    display: inline-block;
}

.header__lang-link + .header__lang-link {
    margin-left: 18px;
}

.lead {
    padding-top: 48px;
}

.lead__title {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 32px;
}

.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 56px;
}

.lead__image {
    margin: 0 auto 8px;
    /*width: 928px;*/
    /*height: 580px;*/
    width: 100%;
    display: block;
    position: relative;
    border: red 1px solid;
}

.lead__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    /*position: absolute;*/
    width: 100%;
    /*bottom: 0;*/
    /*left: 0;*/
}

.image-wrapper {
    position: relative;
}

.intro {
    padding-top: 92px;
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0 0 40px;
}

.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 690px;
    margin: 0 0 33px;
}

.intro__list {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 92px;
    gap: 14px;
    border: red 1px solid;
}

.places {
    padding-top: 102px;
    display: grid;
    row-gap: 80px;
}

.place {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content max-content ;
    column-gap: 32px;
    row-gap: 27px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph_position_top"
    "place__image place__paragraph_position_bottom";
    padding-bottom: 82px;

}

.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    max-width: 440px;
    margin: 0 0 48px;
    border: red 1px solid;
}

.place__website {
    grid-area: place__website;
    align-self: end;
    margin-bottom: 48px;
    color: #FFFFFF;
    border: red 1px solid;
    /*padding-top: 20px;*/
    position: relative;
}

.place__website::before {
    content: "URL";
    bottom: 24px;
    left: 0;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #AAAAAA;
;
}

.place__image {
    grid-area: place__image;
    /*grid-column: 1;*/
    /*grid-row: 2/4;*/
    border: red 1px solid;
}

.place__paragraph {
    /*grid-area: place__paragraph;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 0;
    max-width: 456px;
    /*grid-column: 2;*/
    /*grid-row: 2/4;*/
    border: red 1px solid;
}

.place__paragraph_position_top {
    grid-area: place__paragraph_position_top;
}

.place__paragraph_position_bottom {
    grid-area: place__paragraph_position_bottom;
}

.cover {
    /*width: 100%;*/
    background-image: url(../images/__background.jpg);
    background-size: cover;
    background-position: top;
    min-height: 640px;
    position: relative;
    z-index: 1;
}

.cover__overlay {
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    max-width: 560px;
    margin: 0 auto 32px;
    text-align: center;
    padding-top: 195px;
}

.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 360px;
    margin: auto;
    text-align: center;
}

.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links__list {
    list-style: none;
    padding-left: 0;
}

.links__link {
    display: inline-block;
}

.links__link + .links__link {
    padding-left: 18px;
}

.footer__copyright {
    margin: 0;
}

@media all and (min-width: 1024px) {
    .header {
      width: 928px;
    }
}