
.cover__title {
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
    margin: 0 auto 32px;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 720px){
    .cover__title {
        font-size: calc(100vw/10);
    }
}

@media screen and (max-width: 550px){
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}