
.list-place__website {
    grid-area: place__website;
    align-self: end;
    margin-bottom: 48px;
    color: #FFFFFF;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
}

.list-place__website:hover {
    opacity: 0.6;
    transition: 200ms;
}

.list-place__website::before {
    content: "URL";
    bottom: 24px;
    left: 0;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #AAAAAA;
}

@media screen and (max-width: 550px){
    .list-place__website {
        display: none;
    }
}