
.footer__list-item {
    padding-left: 18px;
}

.footer__list-item:first-child {
    padding-left: 0;
}


@media screen and (max-width: 550px){
    .footer__list-item {
        padding-left: 0;
    }
}